.header{
  padding: 24px 20% 0;
  width: 100%;
  @include flex(center, space-between);
  z-index: 1;
  @include e(logo){
    width: 50%;
    p{
      text-transform: none!important;
      font-family: $font-light;
      text-align: left !important;
      font-size: 30px;
    }
  }
  @include e(links){
    width: 50%;
    @include flex(center, space-between);
    span{
      font-family: $font-roboto;
      position: relative;
      cursor: pointer;
      font-size: 14px;
      letter-spacing: 2px;
      &.active{
        &::after{
          position: absolute;
          content:'';
          width: 100%;
          height: 2px;
          background-color: $color-white;
          bottom: 0;
          left: 50%;
          transform: translateX(-50%) translateY(10px);
        }
      }
    }
  }
}
