
/*------------------------------------*\
  #BREAKPOINT
\*------------------------------------*/



/// A list of named breakpoints. You can use these with the `breakpoint()` mixin to quickly create media queries.
/// @type Map

@mixin breakpoint($range) {
  $phone-upper-boundary: 640px;
  $tablet-portrait-upper-boundary: 1024px;
  $tablet-landscape-upper-boundary: 1200px;
  $desktop-upper-boundary: 1800px; // 1440px Foundation default.

  @if $range == phone-only {
    @media (max-width: #{$phone-upper-boundary - 1}) { @content; }
  } @else if $range == tablet-portrait-up {
    @media (min-width: $phone-upper-boundary) { @content; }
  } @else if $range == tablet-landscape-up {
    @media (min-width: $tablet-portrait-upper-boundary) { @content; }
  } @else if $range == desktop-up {
    @media (min-width: $tablet-landscape-upper-boundary) { @content; }
  } @else if $range == big-desktop-up {
    @media (min-width: $desktop-upper-boundary) { @content; }
  }
}
